/* Base Styling */

html {
    box-sizing: border-box;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    color: #262626;
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    cursor: pointer;
}

ul {
    list-style: none;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
}

/* Utility Classes */

.container {
    max-width: calc(1600px + 10%);
    padding: 0 5% 0 5%;
    margin: auto;
}

.heading-lg {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 28px;
    color: #000000;
}

.c-heading {
    font-size: 2rem;
    font-weight: 600;
    line-height: 24px;
    opacity: 0.95;
}

.btn {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px 10px 22px;
    white-space: nowrap;
    transition: all 200ms ease-in-out;
}

.btn:hover {
    background-color: #1a1a1a;
}

.btn-text {
    padding-right: 5px;
}

.blue-shop-now {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #0067b8;
}

.blue-shop-now span {
    margin-right: 4px;
    transition: all 200ms ease-in-out;
    border-bottom: 2px solid transparent;
}

.blue-shop-now span:hover {
    margin-right: 8px;
    border-bottom: 2px solid #0067b8;
}

/* Nav */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4% 0.75%;
}

.main-nav .logo {
    width: 7.9vw;
}

.main-menu {
    display: flex;
    flex: 2;
    margin-left: 1.7%;
}

.main-menu li {
    padding: 0 1.45%;
}

.main-menu li a {
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.main-menu li a:hover {
    border-bottom: 2px solid #262626;
}

.right-menu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-menu li {
    margin: 0 5%;
}

.right-menu li:last-child {
    margin: 0 0 0 5%;
}

.all-microsoft {
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.all-microsoft + i {
    padding-left: 5px;
}

.all-microsoft:hover {
    border-bottom: 2px solid #262626;
}

.right-menu li a i {
    font-size: 15px;
    color: #707070;
}

/* Showcase */
.showcase {
    background: #E7E7E7 url('./images/RE4nmz0.webp') no-repeat center top/cover;
    width: 100%;
    height: 74vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2.5%;
}

.showcase h2 {
    margin-bottom: 1.5%;
}

.showcase p,
.showcase a {
    margin-bottom: 2%;
}

.header-btn::after {
    content: 'SHOP NOW';
    font-weight: 600;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    padding: 10px 0 2px 0;
    position: absolute;
    left: 22px;
    top: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: all 200ms ease-in-out;
}

.header-btn:hover::after {
    content: 'SHOP NOW';
    border-bottom: 2px solid #ffffff;
}

/* Home Cards 1 */
.home-cards {
    margin: 4% 0;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
    text-align: left;
}

.home-cards img {
    width: 100%;
    margin-bottom: 10%;
}

.home-cards h3 {
    margin-bottom: 1.5%;
}

.home-cards a {
    margin: 4% 0 0 0;
}

/* Do More with Windows */
.next-pc {
    background: #E7E7E7 url('./images/RE2iFfu.jpg') no-repeat right center/cover;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 6%;
    justify-content: center;
    align-items: flex-start;
}

.next-pc h2 {
    margin-bottom: 1.5%;
}

.next-pc p,
.next-pc a {
    margin-bottom: 2%;
}

.next-pc-btn::after {
    content: 'FIND YOUR NEXT PC';
    font-weight: 600;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    padding: 10px 0 2px 0;
    position: absolute;
    left: 22px;
    top: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: all 200ms ease-in-out;
}

.next-pc-btn:hover::after {
    content: 'FIND YOUR NEXT PC';
    border-bottom: 2px solid #ffffff;
}

/* Home Cards 2- For Work */
.for-work-title {
    margin-bottom: 1.5%;
}

/* Every Seconds Count */
.seconds-count {
    background: #E7E7E7 url('./images/RE4pPhC.webp') no-repeat right center/cover;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 6%;
    justify-content: flex-start;
    align-items: flex-start;
}

.seconds-count h2,
.seconds-count p {
    color: #ffffff;
}

.seconds-count h2 {
    margin-bottom: 1.5%;
}

.seconds-count p,
.seconds-count a {
    margin-bottom: 2%;
}

.seconds-count-btn {
    background-color: #ffffff;
    color: #000000;
}

.seconds-count-btn:hover {
    background-color: #e6e6e6;
}

.seconds-count-btn::after {
    content: 'LEARN MORE';
    font-weight: 600;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    padding: 10px 0 2px 0;
    position: absolute;
    left: 22px;
    top: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: all 200ms ease-in-out;
}

.seconds-count-btn:hover::after {
    content: 'LEARN MORE';
    border-bottom: 2px solid #000000;
}